<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!-- PLC Settings -->
    <add key="PlcTagName" value="PC_KAPAT_V7" />
    <add key="PlcGateway" value="192.168.250.1" />
    <add key="PlcPath" value="1,0" />
    <add key="PlcReadInterval" value="2000" />
    <add key="PlcTimeout" value="2500" />
    <!-- Program Settings -->
    <add key="ProgramToClose" value="Soft-NA" />
    <add key="ShutdownGracePeriod" value="2" />
    <add key="ProcessCloseTimeout" value="5000" />
    <!-- Folder Cleanup Settings -->
    <add key="MaxFolderCount" value="15" />
    <add key="DaysThreshold" value="15" />
    <add key="FolderPaths" value="C:\OMRON\Soft-NA\Storage\SDCard\OperationLog;C:\OMRON\Soft-NA\Storage\SDCard\Data Logging\Log Files\DataSet0;C:\OMRON\Soft-NA\Storage\SDCard\Data Logging\Log Files\DataSet1;C:\OMRON\Soft-NA\Storage\SDCard\Data Logging\Log Files\DataSet2" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>