<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true"
      autoReload="true"
      internalLogLevel="Debug"
      internalLogFile="${basedir}/logs/internal-nlog.log"
      internalLogToConsole="false">

  <targets>
    <!-- Internal NLog logging with archival -->
    <target xsi:type="File"
            name="internalLogFile"
            fileName="${basedir}/logs/internal-nlog.log"
            archiveFileName="${basedir}/logs/archive/internal-nlog.{#}.log"
            archiveNumbering="Date"
            archiveEvery="Day"
            archiveAboveSize="5242880"
            maxArchiveFiles="7"
            maxArchiveDays="7"
            layout="${longdate}|${level:uppercase=true}|${message}|${exception:format=tostring}" />

    <!-- File logging with size and time-based rotation -->
    <target xsi:type="File" 
            name="fileTarget" 
            fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}"
            createDirs="true"
            archiveFileName="${basedir}/logs/archive/{#}.log"
            archiveNumbering="Date"
            archiveEvery="Day"
            archiveAboveSize="10485760"  
            maxArchiveFiles="14"         
            maxArchiveDays="14"          
            archiveOldFileOnStartup="false"
            enableArchiveFileCompression="false" 
            />

    <!-- Console logging -->
    <target xsi:type="Console" 
            name="consoleTarget"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}" />

    <!-- Visual Studio Debug Output -->
    <target xsi:type="Debugger" 
            name="debuggerTarget"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="fileTarget,consoleTarget,debuggerTarget" />
    <!-- Add internal logging rule -->
    <logger name="NLog.Internal.*" minlevel="Debug" writeTo="internalLogFile" />
  </rules>
</nlog>